body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*.jumbotron {
	background: #94cbff;
}
*/

#welcome{
	font-size: 40px;
}

.imagesize {
	height: 300px;
	width: 260px;
}


