<h1>Notes / Activities</h1>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="edit-card-modal" tabindex="-1" role="dialog" aria-labelledby="new-worker-title">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click='cancelEditing()' data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="new-card-title">Edit Notes</h4>
				</div>
				<form id="editPlacesForm">
					<div class="modal-body">
						<label class='control-label'>Note</label>
						<input required placeholder='Note' ng-model='listEd.comment' class='input form-control' >
					</div>
				</form>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click='cancelEditing()' data-dismiss="modal">Cancel</button>
					<button form='newworkerform' type="button" class="btn btn-info" ng-click='commitEdit(listEd)'>Submit</button>
				</div>
			</div>
		</div>
	</div>

<div class="container well">

			<table class="table table-striped">
				<thead>
					<tr>
						<!-- <th>Description</th> -->
						<th>Note</th>
						<th>Location ID</th>
						<th>Edit</th>
						<th>Remove</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="note in notes">
						<!-- <td>{{place.description}}</td> -->
						<td>{{note.comment}}</td>
						<td>{{note.place_id}}</td>
						<td>
							<button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#edit-card-modal" ng-click='editNote(note)'><i class="fa fa-pencil-square-o"></i></button>
						</td>
						<td>
							<button ng-click='removeNote(note.note_id)' class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
						</td>
							<!-- <td>
							<a ui-sref="detail">
							<button ng-click='clickNote()' class="btn btn-primary btn-sm"><i class="fa fa-comments"></i></button>
						</td> -->

					</tr>
					<tr>
						<td>
							<textarea required ng-model="note" id="" cols="30" rows="10">
								
							</textarea>
							<p style="color: red" ng-if="!note.length">Note can't be empty</p>
						</td>
						<td>
							<button class="btn btn-success btn-sm" data-target="#edit-card-modal" ng-click='addNote(note)' ng-if="note.length"><i class="fa fa-plus"></i></button>
						</td>
					</tr>
				</tbody>
			</table>

	</div>